## Interview Query Question #31 | Employee Salaries (ETL Error)

Good morning. Here's your sql question for today.. Try out solving the problem first before clicking on the link to the solution.

This problem will be free for a week, then it'll go back to being available only in our premium course.

This question was asked by: Microsoft  
`employees` table  

columns	types  
id	int  
first_name	varchar  
last_name	varchar  
salary	int  
department_id	int  
 

`departments` table  

columns	types  
id	int  
name	varchar  
 

Letâ€™s say we have two tables representing a company department schema.

Due to an ETL error, the `employees` table instead of updating the salaries every year when doing compensation adjustments, did an insert instead. The head of HR still needs the current salary of each employee.

Write a query to get the current salary for each employee.

Assume no duplicate combination of first and last names. (I.E. No two John Smiths)

 

Need a hint?
The first step we need to do would be to remove duplicates and retain the current salary for each user. 

Given we know there aren't any duplicate first and last name combinations, we can remove duplicates from the employees table by running a GROUP BY on two fields, the first and last name. This allows us to then get a unique combinational value between the two fields.

In [ ]:
# idea: window function first_val
select id, first_name, last_name, name, first_value(salary) over (partition by first_name, last_name order by id desc) as current_salary
from employees e join departments d on e.department_id = d.id
order by 2, 3, 1