## Interview Query Question #28 | Distance Travelled

Good morning. Here's your sql question for today.

This question was asked by: Uber  

users table

Column	Type  
id	integer  
name	string  
 

rides table  

Column	Type  
id	integer  
user_id	integer  
distance	float  
 

Write a query to report the distance travelled by each user in descending order.

In [ ]:
select user_id, name, sum(distance) as total_distance
from rides r join users u on r.user_id = u.id
group by 1, 2
order by 3 desc